/* Font from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Varela+Round&display=swap');
*{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.hero{
    background: linear-gradient(54deg, #42047e, #015d4a);

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.clock{
    color: white;
    font-size: 12vw;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 2vw 5vh;
    border-radius: 10px;
}
.todayDate{
    font-size: 2vw;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    color: white;

}